/**{outline: 1px solid rgba(255,0,0,0.3);}*/
body{overflow-x: hidden;}
.mg-0{margin:0px;}
.abs{position: absolute;}
.flip-v{transform: scaleX(-1);filter: FlipH;-ms-filter: "FlipH";}
.rel{position: relative;}
.w100{width: 100%;}

.portada{background-color: #2C3546; height: 700px; width: 100%; }
.nombre h1{font-family: 'Pompiere',sans-serif; color: #fff;}
.nombre :first-child{font-size: 100px; top: 50px; left: 250px;}
.nombre :nth-child(2){top:150px; font-size: 100px; left: 350px;}
.nombre :last-child{font-size: 60px; top:300px; left: 400px;}
.flota{height: 550px; left: 450px; top:170px;}
.pla1{left: 450px; top: -20px; }
.pla2{top: 180px; left: 150px;}
.pla3{height: 80px; left: 740px; top: 130px;}
.pla4{left: 860px; top: 30px; height: 100px;}
.es1{left: 120px; top: 80px;}
.es2{left: 710px; top: 30px;}
.es3{left: 650px; top: 100px; transform: rotate(45deg);}
.bri1{top: 200px; left: 30px;}
.bri2{left: 800px; top: 70px; height: 45px;}
.bri3{left: 860px; top: 140px; height: 35px;}

#menu{position: absolute; z-index: 1000;  top: 1200px; left: 5px;}
#menu ul{font-family: 'Pompiere',sans-serif; list-style: none; font-size: 33px;}
#menu a{color:#2C3546; text-decoration: none;}

.proyectos{height: 900px;}
.titulop{top: 300px; left: 20%;  transform: scale(1.2, 1.2);}
.nubes{z-index: -1; height: 900px; background-size: contain; background-repeat: no-repeat;}
.nubeprincipal{background-image: url("../images/nube-compressor.png");}
.nube1{background-image: url("../images/nube-f1-compressor.png"); background-position-y:300px;}
.nube2{background-image: url("../images/nube-f2-compressor.png"); background-position-y:600px;}
.nubep1{top:400px; left: 50%; z-index: -1000; transform: scale(1.6, 1.6);}
.nubep2{top:640px; left: 50%;  transform: scale(1.3, 1.3);}
.nubep3{top:790px; left: 50%;}
.nubep4{top:940px; left: 50%;  transform: scale(0.7, 0.7);}
.cuadros{z-index: -1000; width: 382px; height: 250px; background-size: cover; background-repeat: no-repeat;}
.cuadro1{top: 600px; left: 260px;background-image: url('../images/cuadro1-compressor.png');}
.cuadro2{top: 600px; left: 860px;background-image: url('../images/cuadro2-compressor.png');}
.cuadro3{top: 900px; left: 260px;background-image: url('../images/cuadro4-compressor.png');}
.cuadro4{top: 900px; left: 860px;background-image: url('../images/cuadro3-compressor.png');}
.dibuja{top: 1000px; left: 43%; transform: scale(0.8, 0.8);}
.mesa1{ left: 15%; z-index: -1000; top: 1300px; transform: scale(0.8, 0.8);}
.papel1{ left: 900px; z-index: -1000; top: 1200px; transform: scale(1.3, 1.3); }
.papel2{ left: 400px; z-index: -1000; top: 1250px; transform: scale(1.8, 1.8); }
.pin{ left: 545px; z-index: -1000; top: 1185px; transform: scale(1.8, 1.8); }

.formas{z-index: 1000; height: 2000px; background-size: contain; background-repeat: no-repeat;}
.forma4{background-image: url("../images/forma4.png");background-position-y:1200px;}
.forma3{background-image: url("../images/forma3.png");background-position-y:1200px;}
.forma2{background-image: url("../images/forma2.png");background-position-y:1200px;}
.forma1{background-image: url("../images/forma1.png"); background-position-y:1200px;}

.habilidades{height: 1000px; background-color: #2C3546; margin-top: 700px;}